/*Inicio slidebar*/
.slidebar {
    position: fixed;
    top: 40px;
    left: 20px;
    width: 6%;
    height: 85%;
    background-color: #3a3a3d; /* gris oscuro */
    border-radius: 40px;
    display: flex;
    padding-top: 40px;
    z-index: 100;
    flex-direction: column;
}

/* Lista */
.slidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 70px;
    text-align: center;
} 

.slidebar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 19px;
    transition: transform 0.2s ease;
}


/* Icono */
.slidebar img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}
/*Fin slidebar*/

/*Inicio search*/
.search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 24px;
    border-radius: 30px;
    background-color: #f1c40f;
    transition: box-shadow 0.25s;
    height: 5px;
}
.search:focus-within {
    box-shadow: 0 0 2px rgba(250, 249, 249, 0.75);
}
.search-input {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3a3a3d;
    margin-left: 14px;
    outline: none;
    border: none;
    background:transparent ;
    width: 400px;
}
.search-container {
    display: flex;
    justify-content: center;
    padding: 20px; /* importante en móviles */
    box-sizing: border-box;
}